.topExpenses {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width: 33%;
  }
  
  .expenseList {
    margin-top: 10px;
  }
  